@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

body {
    align-items: center;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}